body {
    margin: 0px;
    background-color:#B9A8F0;
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
}   
nav ul li {
    font-weight: 700;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

nav ul {
    text-align: right;
    font-size: large;
}
h1 {
    font-size: 4em;
    text-align: center;
    width: auto;
    font-family: 'Bebas Neue', cursive;
}

header {
    background-color:white; 
    background-repeat: no-repeat;
    color: black;
    position: relative;
    padding: 5px 5px 0px 5px;
}
.nosottolineato {
    text-decoration: none;
    color: black;
    padding: 13px 13px 13px 13px;
}

.sottolineato {
    color: black;
    text-decoration: underline;
    border-radius: 4px 4px 0px 0px;
    background-color:#B9A8F0;
    display: inline-block;
    padding: 3px;
    margin: 0;
}
.sottolineato:hover {
    color:#8a2be2;
}
.nosottolineato:hover {
    color:#8a2be2;
}

.card-img-top {
    object-fit: cover;
}
  
.card-img-top {
    height: auto;
    width: auto;
    object-fit: cover;

}
footer {
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
footer i {
    margin-right: 20px;
    color: black;
}
.nomi {
    color:#8a2be2;
    font-size:large;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

}
.nomi:hover {
    color:#B582E6;
    
}

p2 {
    font-size: large;
    font-size: 20px;
    font-family: 'Oswald', sans-serif; 
}

.btn-primary {
    background-color:#B582E6;
    border: none;
    font-size: small;

}
.btn-primary:hover {
    background-color:#B9A8F0;
}
p {
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;  
}
p3,p4,p5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
h2,h3,h4 {
    font-family: 'Oswald', sans-serif;    
    font-size: 25px;
    font-weight: bold;
}
